<div class="recommend-body">
  <div class="recommend-header border">
    <p>꽐라들의 추천</p>
  </div>
  <div class="row line-second">
    <div class="col-sm-3 border">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 border">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 border">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 border">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
  </div>
</div>