<div class="recommend-body">
  <div class="recommend-header">
    <p>꽐라 지식 사전</p>
  </div>
  <div class="row line-second">
    <div class="col-sm-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 조합법</p>
        </div>
      </div>
    </div>
  </div>
</div>