.layout {
  padding-top: 4.5rem;
}

.layout-body {
  padding: 0;
}

.layout-side-left {
  padding: 0;
}

.layout-side-right {
  padding: 0;
}

  .select,
  #locale {
    width: 100%;
  }
  .like {
    margin-right: 10px;
  }