/* mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  width: 25%;
} */

.board-best {
  margin-bottom: 4rem;
}

/* .board-best-title, .board-best-all {
  font-size: 2rem;
  text-align: center;
} */