<div class="recommend-sub">
  <div class="recommend-sub-header">
    <p>끄적끄적</p>
  </div>
  <div class="row line-second">
    <div class="col-sm-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">오늘의 추천 도서</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">나만의 글쓰기 팁</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">책읽기 좋은 카페</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="/assets/main-recommend/recommend_1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">꾸준한 글쓰기 습관</p>
        </div>
      </div>
    </div>
  </div>
</div>