<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <form class="write-board">
        <table class="write-board-full-width" cellspacing="0">
          <tr>
            <td>
              <span>
                <button mat-stroked-button disabled>ID</button>
              </span>
              <mat-form-field class="write-board-full-width" appearance="outline">
              <mat-label>ID</mat-label>
              <input matInput>  
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <span>
                <button mat-stroked-button disabled>PASSWORD</button>
              </span>
              <mat-form-field class="write-board-full-width" appearance="outline">
              <mat-label>PASSWORD</mat-label>
              <input matInput>  
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>