<div class="container banner-image">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/main-carousel/carousel_3.png" class="d-block w-100" alt="1">
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-header-text">어느덧 연말</div>
          <div class="carousel-body-text">특별한 모임으로 이야기를 나누어 보세요!!</div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/main-carousel/carousel_3.png" class="d-block w-100" alt="2">
        <div class="carousel-caption d-none d-md-block">
          <div class="carousel-header-text">사박사박 눈 쌓이는 소리</div>
          <div class="carousel-body-text">지금은 이런 책 어떠세요?</div>
        </div>
      </div>
    </div>
  </div>
</div>
