<div class="container recommend-course">
  <div class="recommend-tab-header">
    <p>오늘 같은 날, 딱 좋은 음주 코스!</p>
  </div>
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">가볍게</button>
      <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">신나게</button>
      <button class="nav-link" id="nav-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">얼큰하게</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>와인부터 칵테일까지</div>
              <div>가을같이 부드러운 한 잔</div>
            </div>
            <div class="tab-content-link-bottom">가볍게 한 잔<br>맛만보기</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>막걸리부터 각종 전통주까지</div>
              <div>익어가는 가을도, 시끌시끌 친구와 함께</div>
            </div>
            <div class="tab-content-link-bottom">신나게 한 잔<br>맛만보기</div>  
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
                <div class="col tab-content-img">Food img</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>쌀쌀한 바람, 따끈한 탕수육에</div>
              <div>정신까지 화끈화끈 고량주까지</div>
            </div>            
            <div class="tab-content-link-bottom">얼큰하게 한 잔<br>맛만보기</div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
