<div class="recommend-course">
  <div class="recommend-tab-header">
    <p>오늘 같은 날,</p>
  </div>
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">즐거운</button>
      <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">따뜻한</button>
      <button class="nav-link" id="nav-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">깊은</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>와글와글 부딪히는</div>
              <div>웃음 소리처럼</div>
            </div>
            <div class="tab-content-link-bottom">상상만해도 즐거운<br>그런 이야기</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>지친 마음도</div>
              <div>조금은 뭉근해지는</div>
            </div>
            <div class="tab-content-link-bottom">서로에게 귀기울이는<br>그런 이야기</div>  
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
      <div class="container tab-content-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="container">
              <div class="row row-cols-2">
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
                <div class="col tab-content-img"><div class="tab-content-text">Txt img</div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 tab-content-link">
            <div class="tab-content-link-top">
              <div>홀로,</div>
              <div>사색에 빠져보는</div>
            </div>            
            <div class="tab-content-link-bottom"><br>그런 이야기</div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
