/* .recommend-course {
  padding: 0 !important;
  margin-top: 8rem;
}

.recommend-tab-header {
  font-size: 3rem;
  text-align: center;
}

.tab-content-body {
  padding: 0 !important;
}

#nav-tab {
  font-size: 2rem;
}

.card {
  background-color: grey;
}

.card-title {
  font-size: 3rem;
}

.card-body {
  font-size: 2rem;
}

.col {
  height: 25rem;
}

.tab-content-img {
  background-color: #D9D9D9;
  border: solid 0.2rem white;
  color: white;
}

.tab-content-text {
  margin-top: 2rem;
}

.tab-content-link {
  font-size: 2rem;
  position: relative;
}

.tab-content-link-top {
  padding: 1rem;
}

.tab-content-link-bottom {
  padding: 1rem;
  bottom: 0;
  right: 1rem;
  position: absolute;
  text-align: right;
} */