<div class="recommend-tab-body border">
  <div class="recommend-tab-header">
    <p>오늘 같은 날, 딱 좋은 음주 코스!</p>
  </div>
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">Home</button>
      <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">Profile</button>
      <button class="nav-link" id="nav-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">Contact</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-first-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first-first" type="button" role="tab" aria-controls="nav-first-first" aria-selected="true">first-first</button>
          <button class="nav-link" id="nav-first-second-tab" data-bs-toggle="tab" data-bs-target="#nav-first-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">first-second</button>
          <button class="nav-link" id="nav-first-third-tab" data-bs-toggle="tab" data-bs-target="#nav-first-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">first-third</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-first-first" role="tabpanel" aria-labelledby="nav-first-first-tab">First first tab</div>
        <div class="tab-pane fade" id="nav-first-second" role="tabpanel" aria-labelledby="nav-first-second-tab">First second tab</div>
        <div class="tab-pane fade" id="nav-first-third" role="tabpanel" aria-labelledby="nav-first-third-tab">First third tab</div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-second-first-tab" data-bs-toggle="tab" data-bs-target="#nav-second-first" type="button" role="tab" aria-controls="nav-second-first" aria-selected="true">second-first</button>
          <button class="nav-link" id="nav-second-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second-second" type="button" role="tab" aria-controls="nav-second-second" aria-selected="false">second-second</button>
          <button class="nav-link" id="nav-second-third-tab" data-bs-toggle="tab" data-bs-target="#nav-second-third" type="button" role="tab" aria-controls="nav-second-third" aria-selected="false">fi-third</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-second-first" role="tabpanel" aria-labelledby="nav-second-first-tab">second first tab</div>
        <div class="tab-pane fade" id="nav-second-second" role="tabpanel" aria-labelledby="nav-second-second-tab">second second tab</div>
        <div class="tab-pane fade" id="nav-second-third" role="tabpanel" aria-labelledby="nav-second-third-tab">second third tab</div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-third-first-tab" data-bs-toggle="tab" data-bs-target="#nav-third-first" type="button" role="tab" aria-controls="nav-third-first" aria-selected="true">Third-first</button>
          <button class="nav-link" id="nav-third-second-tab" data-bs-toggle="tab" data-bs-target="#nav-third-second" type="button" role="tab" aria-controls="nav-third-second" aria-selected="false">Third-second</button>
          <button class="nav-link" id="nav-third-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third-third" type="button" role="tab" aria-controls="nav-third-third" aria-selected="false">third-third</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-third-first" role="tabpanel" aria-labelledby="nav-third-first-tab">third first tab</div>
        <div class="tab-pane fade" id="nav-third-second" role="tabpanel" aria-labelledby="nav-third-second-tab">third second tab</div>
        <div class="tab-pane fade" id="nav-third-third" role="tabpanel" aria-labelledby="nav-third-third-tab">third third tab</div>
      </div>
    </div>
  </div>
</div>
