.recommend-tab-body {
  margin-top: 8rem;
}

.recommend-tab-header {
  font-size: 3rem;
  text-align: center;
}

#nav-tab {
  font-size: 2rem;
}

.card {
  background-color: grey;
}

.card-title {
  font-size: 3rem;
}

.card-body {
  font-size: 2rem;
}

.col {
  height: 25rem;
}