<div class="recommend-tab-body border">
  <div class="recommend-tab-header">
    <p>오늘 같은 날, 딱 좋은 음주 코스!</p>
  </div>
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">부드러운 와인 한 잔</button>
      <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">뜨끈한 국물에</button>
      <button class="nav-link" id="nav-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">살오른 해산물</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-first-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first-first" type="button" role="tab" aria-controls="nav-first-first" aria-selected="true">1차</button>
          <button class="nav-link" id="nav-first-second-tab" data-bs-toggle="tab" data-bs-target="#nav-first-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">2차</button>
          <button class="nav-link" id="nav-first-third-tab" data-bs-toggle="tab" data-bs-target="#nav-first-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">3차</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-first-first" role="tabpanel" aria-labelledby="nav-first-first-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">분위기 좋은 양식과 샴페인</h5>
              <p class="card-text">분위기좋은 레스토랑에서 가벼운 샴페인으로 시작하는 술자리.<br>선선한 날씨와 개운한 분위기에 대화를 시작해봐요.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-first-second" role="tabpanel" aria-labelledby="nav-first-second-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-first-third" role="tabpanel" aria-labelledby="nav-first-third-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-second-first-tab" data-bs-toggle="tab" data-bs-target="#nav-second-first" type="button" role="tab" aria-controls="nav-second-first" aria-selected="true">1차</button>
          <button class="nav-link" id="nav-second-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second-second" type="button" role="tab" aria-controls="nav-second-second" aria-selected="false">2차</button>
          <button class="nav-link" id="nav-second-third-tab" data-bs-toggle="tab" data-bs-target="#nav-second-third" type="button" role="tab" aria-controls="nav-second-third" aria-selected="false">3차</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-second-first" role="tabpanel" aria-labelledby="nav-second-first-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-second-second" role="tabpanel" aria-labelledby="nav-second-second-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-second-third" role="tabpanel" aria-labelledby="nav-second-third-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-third-first-tab" data-bs-toggle="tab" data-bs-target="#nav-third-first" type="button" role="tab" aria-controls="nav-third-first" aria-selected="true">1차</button>
          <button class="nav-link" id="nav-third-second-tab" data-bs-toggle="tab" data-bs-target="#nav-third-second" type="button" role="tab" aria-controls="nav-third-second" aria-selected="false">2차</button>
          <button class="nav-link" id="nav-third-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third-third" type="button" role="tab" aria-controls="nav-third-third" aria-selected="false">3차</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-third-first" role="tabpanel" aria-labelledby="nav-third-first-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-third-second" role="tabpanel" aria-labelledby="nav-third-second-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-third-third" role="tabpanel" aria-labelledby="nav-third-third-tab">
          <div class="card mb-3">
            <img src="/assets/main-carousel/carousel_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
