<!-- Nav -->
<nav id="nav">
  <ul>
    <li [ngClass]="this.tab === 'main' ? 'current' : ''">
      <a [routerLink]="['main']" (click)="changeTab('main')">오늘의 이야기</a>
    </li>
    <li [ngClass]="this.tab === 'user' ? 'current' : ''">
      <a [routerLink]="['user']" (click)="changeTab('user')">나만의 글</a>
    </li>
    <li [ngClass]="this.tab === 'card' ? 'current' : ''">
      <a [routerLink]="['card']" (click)="changeTab('card')">한 쪽 문학</a>
    </li>
    <li [ngClass]="this.tab === 'board' ? 'current' : ''">
      <a [routerLink]="['board']" (click)="changeTab('board')">전체 글</a>
    </li>
  </ul>
</nav>